@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@100;300;400;500;700;900;100;300;400;500;700;900&display=swap');

.lds-text {
  font-family: 'Poppins', sans-serif;
}

.lds-text {
  font-family: 'Roboto', sans-serif;
}

.lds-text {
  font-family: "inter" "Open Sans" sans-serif;
}

.lds-text.semibold {
  font-weight: 600;
}

.lds-text.bold {
  font-weight: 700;
}

.lds-text.extrabold {
  font-weight: 800;
}

.lds-text.heading0 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.lds-text.heading0p {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0.003em;
}
.lds-text.heading1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.lds-text.heading1p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.003em;
}
.lds-text.heading2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.lds-text.heading2p {
  font-size: 1.375rem;
  line-height: 2rem;
  letter-spacing: 0.005em;
}
.lds-text.heading3 {
  font-size: 1.375rem;
  line-height: 2.5rem;
  letter-spacing: 0.006em;
}
.lds-text.heading3p {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
}
.lds-text.heading4 {
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
}
.lds-text.heading5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.012em;
}

.lds-text.bodyBig {
  font-size: 1rem;
  line-height: 1.56rem;
  letter-spacing: 0.015em;
}
.lds-text.bodyMedium {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.012em;
}
.lds-text.bodySmall {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}
